name: Initial Review of Trending Repo Issues

on:
  workflow_dispatch:
  schedule:
    - cron: '36 1 * * *'

permissions:
  issues: write
  contents: read

jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install deps
        run: npm install @actions/github @actions/core node-fetch

      - name: Run initial-review script
        run: node ./.github/scripts/initial_review.mjs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
